<div class='result-block'>
    <h3> <%= result[:draw_date] %> </h3>
    <%= render partial: 'number', locals: { pick: result[:pick_one], bonus: false } %>
    <%= render partial: 'number', locals: { pick: result[:pick_two], bonus: false  } %>
    <%= render partial: 'number', locals: { pick: result[:pick_three], bonus: false  } %>
    <%= render partial: 'number', locals: { pick: result[:pick_four], bonus: false  } %>
    <%= render partial: 'number', locals: { pick: result[:pick_five], bonus: false  } %>
    Bonus:
    <%= render partial: 'number', locals: { pick: result[:bonus_one], bonus: true  } %>  
    <span class='prize'>$<%= get_prize_amount({game_slug: @game.slug, matches_count: result[:matches_count], bonus_match: result[:bonus_match]}) %></span>
</div>